In [1]:
!wget -q https://dlcdn.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz 
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/default-java"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"
!pip install -q findspark
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession

!head -5 /content/drive/MyDrive/data/IMDb_movies.csv
!head -5 /content/drive/MyDrive/data/IMDb_ratings.csv
!head -5 /content/drive/MyDrive/data/netflix_dataset.csv

imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey Depew",The adventures of a female reporter in the 1890s.,5.9,154,,,,,1,2
tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,26-12-1906,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Bella Cola, Will Coyne, Sam Crewes, Jack Ennis, John Forde, Vera Linden, Mr. Marshall, Mr. McKenzie, Frank Mills, Ollie Wilson",True story of notorious Australian outlaw Ned Kelly (1855-80).,6.1,589,$ 2250,,,,7,7
tt0001892,Den sorte drøm,Den sorte drøm,1911,19-08-1911,Drama,53,"Germany, Denmark",,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helsengreen, Emil Albes, Hugo Flink, Mary Hagen","Two men of high rank are both wooing the beautiful and famous equestrian acrobat Stella. While Stella ignores the jeweler Hirsch, she accepts Count von Waldberg's offer to follow her home, ...",5.8,188,,,,,5,2
tt0002101,Cleopatra,Cleopatra,1912,13-11-1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, Miss Robson, Helene Costello, Charles Sindelar, Mr. Howard, James R. Waite, Mr. Osborne, Harry Knowles, Mr. Paul, Mr. Brady, Mr. Corker",The fabled queen of Egypt's affair with Roman general Marc Antony is ultimately disastrous for both of them.,5.2,446,$ 45000,,,,25,3
imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1,allgenders_0age_avg_vote,allgenders_0age_votes,allgenders_18age_avg_vote,allgenders_18age_votes,allgenders_30age_avg_vote,allgenders_30age_votes,allgenders_45age_avg_vote,allgenders_45age_votes,males_allages_avg_vote,males_allages_votes,males_0age_avg_vote,males_0age_votes,males_18age_avg_vote,males_18age_votes,males_30age_avg_vote,males_30age_votes,males_45age_avg_vote,males_45age_votes,females_allages_avg_vote,females_allages_votes,females_0age_avg_vote,females_0age_votes,females_18age_avg_vote,females_18age_votes,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
tt0000009,5.9,154,5.9,6,12,4,10,43,28,28,9,1,5,14,7.2,4,6,38,5.7,50,6.6,35,6.2,97,7,1,5.9,24,5.6,36,6.7,31,6,35,7.3,3,5.9,14,5.7,13,4.5,4,5.7,34,6.4,51,6,70
tt0000574,6.1,589,6.3,6,57,18,58,137,139,103,28,20,13,16,6,1,6.1,114,6,239,6.3,115,6.1,425,6,1,6.2,102,6,210,6.2,100,6.2,50,,,5.9,12,6.2,23,6.6,14,6.4,66,6,96,6.2,331
tt0001892,5.8,188,6,6,6,6,17,44,52,32,16,5,6,4,,,5.5,25,5.8,72,6.2,62,5.9,146,,,5.5,21,5.9,67,6.2,55,5.7,15,,,5.8,4,5.8,4,6.8,7,5.4,32,6.2,31,5.9,123
tt0002101,5.2,446,5.3,5,15,8,16,62,98,117,63,26,25,16,,,5.3,23,5,111,5.3,193,5.1,299,,,5.2,20,4.9,96,5.2,171,5.9,39,,,5.7,3,5.5,14,6.1,21,4.9,57,5.5,207,4.7,105
show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
s1,TV Show,3%,,"João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi & Fantasy","In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor."
s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies","After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive."
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence Koh, Tommy Kuan, Josh Lai, Mark Lee, Susan Leong, Benjamin Lim",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly, Christopher Plummer, Crispin Glover, Martin Landau, Fred Tatasciore, Alan Oppenheimer, Tom Kane",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi & Fantasy","In a postapocalyptic world, rag-doll robots hide in fear from dangerous machines out to exterminate them, until a brave newcomer joins the group."

In [9]:
movie_schema = StructType([
        StructField("imdb_title_id", StringType(), True),
        StructField("title", StringType(), True),
        StructField("original_title", StringType(), True),
        StructField("year", IntegerType(), True),
        StructField("date_published", StringType(), True),
        StructField("genre", StringType(), True),
        StructField("duration", IntegerType(), True),
        StructField("country", StringType(), True),
        StructField("language", StringType(), True),
        StructField("director", StringType(), True)])

df_movie = spark.read.csv('/content/drive/MyDrive/data/IMDb_movies.csv', sep=',',schema = movie_schema, header=True)

df_movie.show()

+-------------+--------------------+--------------------+----+--------------+--------------------+--------+----------------+---------------+--------------------+
|imdb_title_id|               title|      original_title|year|date_published|               genre|duration|         country|       language|            director|
+-------------+--------------------+--------------------+----+--------------+--------------------+--------+----------------+---------------+--------------------+
|    tt0000009|          Miss Jerry|          Miss Jerry|1894|    1894-10-09|             Romance|      45|             USA|           None|     Alexander Black|
|    tt0000574|The Story of the ...|The Story of the ...|1906|    26-12-1906|Biography, Crime,...|      70|       Australia|           None|        Charles Tait|
|    tt0001892|      Den sorte drøm|      Den sorte drøm|1911|    19-08-1911|               Drama|      53|Germany, Denmark|           null|           Urban Gad|
|    tt0002101|           Cleopatra|           Cleopatra|1912|    13-11-1912|      Drama, History|     100|             USA|        English|  Charles L. Gaskill|
|    tt0002130|           L'Inferno|           L'Inferno|1911|    06-03-1911|Adventure, Drama,...|      68|           Italy|        Italian|Francesco Bertoli...|
|    tt0002199|From the Manger t...|From the Manger t...|1912|          1913|    Biography, Drama|      60|             USA|        English|       Sidney Olcott|
|    tt0002423|      Madame DuBarry|      Madame DuBarry|1919|    26-11-1919|Biography, Drama,...|      85|         Germany|         German|      Ernst Lubitsch|
|    tt0002445|          Quo Vadis?|          Quo Vadis?|1913|    01-03-1913|      Drama, History|     120|           Italy|        Italian|     Enrico Guazzoni|
|    tt0002452|Independenta Roma...|Independenta Roma...|1912|    01-09-1912|        History, War|     120|         Romania|           null|Aristide Demetria...|
|    tt0002461|         Richard III|         Richard III|1912|    15-10-1912|               Drama|      55|     France, USA|        English|André Calmettes, ...|
|    tt0002646|            Atlantis|            Atlantis|1913|    26-12-1913|               Drama|     121|         Denmark|         Danish|         August Blom|
|    tt0002844|Fantômas - À l'om...|Fantômas - À l'om...|1913|    12-05-1913|        Crime, Drama|      54|          France|         French|     Louis Feuillade|
|    tt0003014|Il calvario di un...|       Ingeborg Holm|1913|    18-10-1915|               Drama|      96|          Sweden|           null|     Victor Sjöström|
|    tt0003037|Juve contre Fantômas|Juve contre Fantômas|1913|    08-09-1913|        Crime, Drama|      61|          France|         French|     Louis Feuillade|
|    tt0003102|Ma l'amor mio non...|Ma l'amor mio non...|1914|    01-01-1914|               Drama|      90|           Italy|        Italian|      Mario Caserini|
|    tt0003131|Maudite soit la g...|Maudite soit la g...|1914|    01-05-1914|          Drama, War|      50|         Belgium|         French|       Alfred Machin|
|    tt0003165|     Le mort qui tue|     Le mort qui tue|1913|    06-11-1913|Crime, Drama, Mys...|      90|          France|         French|     Louis Feuillade|
|    tt0003167|      Amore di madre|    Home, Sweet Home|1914|    17-05-1914|               Drama|      55|             USA|        English|       D.W. Griffith|
|    tt0003419|Lo studente di Praga|Der Student von Prag|1913|    22-08-1913|Drama, Fantasy, H...|      85|         Germany|German, English|Paul Wegener, Ste...|
|    tt0003471|    Traffic in Souls|    Traffic in Souls|1913|    24-11-1913|        Crime, Drama|      88|             USA|        English| George Loane Tucker|
+-------------+--------------------+--------------------+----+--------------+--------------------+--------+----------------+---------------+--------------------+
only showing top 20 rows

In [71]:
ratings_schema = StructType([
        StructField("imdb_title_id", StringType(), True),
        StructField("weighted_average_vote", StringType(), True),
        StructField("total_votes", IntegerType(), True),
        StructField("mean_vote", FloatType(), True),
        StructField("median_vote", IntegerType(), True),
        StructField("vote_10", IntegerType(), True),
        StructField("vote_9", IntegerType(), True),
        StructField("vote_8", IntegerType(), True),
        StructField("vote_7", IntegerType(), True),
        StructField("vote_6", IntegerType(), True)])
      
df_ratings = spark.read.csv('/content/drive/MyDrive/data/IMDb_ratings.csv', sep=',',schema = ratings_schema, header=True)       
df_ratings.show()

+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
|imdb_title_id|weighted_average_vote|total_votes|mean_vote|median_vote|vote_10|vote_9|vote_8|vote_7|vote_6|
+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
|    tt0000009|                  5.9|        154|      5.9|          6|     12|     4|    10|    43|    28|
|    tt0000574|                  6.1|        589|      6.3|          6|     57|    18|    58|   137|   139|
|    tt0001892|                  5.8|        188|      6.0|          6|      6|     6|    17|    44|    52|
|    tt0002101|                  5.2|        446|      5.3|          5|     15|     8|    16|    62|    98|
|    tt0002130|                    7|       2237|      6.9|          7|    210|   225|   436|   641|   344|
|    tt0002199|                  5.7|        484|      5.8|          6|     33|    15|    48|    80|   123|
|    tt0002423|                  6.8|        753|      6.8|          7|     80|    65|   105|   209|   142|
|    tt0002445|                  6.2|        273|      6.2|          6|     15|     8|    30|    74|    66|
|    tt0002452|                  6.7|        198|      7.1|          7|     53|     7|    23|    35|    30|
|    tt0002461|                  5.5|        225|      5.4|          6|      9|     6|    22|    34|    53|
|    tt0002646|                  6.6|        331|      6.6|          7|     17|    23|    63|    99|    66|
|    tt0002844|                    7|       1944|      6.6|          7|    195|   145|   335|   546|   363|
|    tt0003014|                  7.1|        948|      7.2|          7|    128|   100|   161|   275|   156|
|    tt0003037|                    7|       1349|      6.5|          7|    122|   118|   234|   356|   246|
|    tt0003102|                  6.2|        100|      6.3|          6|      7|     5|    10|    23|    31|
|    tt0003131|                  6.5|        124|      6.7|          7|      9|    14|    15|    36|    24|
|    tt0003165|                    7|       1050|      6.6|          7|    105|    99|   164|   282|   184|
|    tt0003167|                  5.8|        187|      6.1|          6|     15|     6|    16|    32|    54|
|    tt0003419|                  6.5|       1768|      6.5|          7|    137|    95|   233|   487|   407|
|    tt0003471|                    6|        552|      6.0|          6|     26|    15|    71|   100|   158|
+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
only showing top 20 rows

In [44]:
netflix_schema = StructType([
        StructField("show_id", StringType(), True),
        StructField("type", StringType(), True),
        StructField("title", StringType(), True),
        StructField("director", StringType(), True),
        StructField("cast", StringType(), True),
        StructField("country", StringType(), True),
        StructField("date_added", StringType(), True),
        StructField("release_year", IntegerType(), True),
        StructField("rating", StringType(), True),
        StructField("duration", StringType(), True)])
      
df_netflix = spark.read.csv('/content/drive/MyDrive/data/netflix_dataset.csv', sep=',',schema = netflix_schema, header=True)       
df_netflix.show()

+-------+-------+------+--------------------+--------------------+--------------------+-----------------+------------+------+---------+
|show_id|   type| title|            director|                cast|             country|       date_added|release_year|rating| duration|
+-------+-------+------+--------------------+--------------------+--------------------+-----------------+------------+------+---------+
|     s1|TV Show|    3%|                null|João Miguel, Bian...|              Brazil|  August 14, 2020|        2020| TV-MA|4 Seasons|
|     s2|  Movie| 07:19|   Jorge Michel Grau|Demián Bichir, Hé...|              Mexico|December 23, 2016|        2016| TV-MA|   93 min|
|     s3|  Movie| 23:59|        Gilbert Chan|Tedd Chan, Stella...|           Singapore|December 20, 2018|        2011|     R|   78 min|
|     s4|  Movie|     9|         Shane Acker|Elijah Wood, John...|       United States|November 16, 2017|        2009| PG-13|   80 min|
|     s5|  Movie|    21|      Robert Luketic|Jim Sturgess, Kev...|       United States|  January 1, 2020|        2008| PG-13|  123 min|
|     s6|TV Show|    46|         Serdar Akar|Erdal Beşikçioğlu...|              Turkey|     July 1, 2017|        2016| TV-MA| 1 Season|
|     s7|  Movie|   122|     Yasir Al Yasiri|Amina Khalil, Ahm...|               Egypt|     June 1, 2020|        2019| TV-MA|   95 min|
|     s8|  Movie|   187|      Kevin Reynolds|Samuel L. Jackson...|       United States| November 1, 2019|        1997|     R|  119 min|
|     s9|  Movie|   706|       Shravan Kumar|Divya Dutta, Atul...|               India|    April 1, 2019|        2019| TV-14|  118 min|
|    s10|  Movie|  1920|        Vikram Bhatt|Rajneesh Duggal, ...|               India|December 15, 2017|        2008| TV-MA|  143 min|
|    s11|  Movie|  1922|        Zak Hilditch|Thomas Jane, Moll...|       United States| October 20, 2017|        2017| TV-MA|  103 min|
|    s12|TV Show|  1983|                null|Robert Więckiewic...|Poland, United St...|November 30, 2018|        2018| TV-MA| 1 Season|
|    s13|TV Show|  1994|Diego Enrique Osorno|                null|              Mexico|     May 17, 2019|        2019| TV-MA| 1 Season|
|    s14|  Movie| 2,215| Nottapon Boonprakob|  Artiwara Kongmalai|            Thailand|    March 1, 2019|        2018| TV-MA|   89 min|
|    s15|  Movie|  3022|          John Suits|Omar Epps, Kate W...|       United States|   March 19, 2020|        2019|     R|   91 min|
|    s16|  Movie|Oct-01|      Kunle Afolayan|Sadiq Daba, David...|             Nigeria|September 1, 2019|        2014| TV-14|  149 min|
|    s17|TV Show|Feb-09|                null|Shahd El Yaseen, ...|                null|   March 20, 2019|        2018| TV-14| 1 Season|
|    s18|  Movie|22-Jul|     Paul Greengrass|Anders Danielsen ...|Norway, Iceland, ...| October 10, 2018|        2018|     R|  144 min|
|    s19|  Movie|15-Aug|  Swapnaneel Jayakar|Rahul Pethe, Mrun...|               India|   March 29, 2019|        2019| TV-14|  124 min|
|    s20|  Movie|   '89|                null|Lee Dixon, Ian Wr...|      United Kingdom|     May 16, 2018|        2017| TV-PG|   87 min|
+-------+-------+------+--------------------+--------------------+--------------------+-----------------+------------+------+---------+
only showing top 20 rows

In [45]:
df_movie_model=df_movie.select('imdb_title_id', 'title')
df_movie_model.show( truncate= False)

+-------------+---------------------------------------------------+
|imdb_title_id|title                                              |
+-------------+---------------------------------------------------+
|tt0000009    |Miss Jerry                                         |
|tt0000574    |The Story of the Kelly Gang                        |
|tt0001892    |Den sorte drøm                                     |
|tt0002101    |Cleopatra                                          |
|tt0002130    |L'Inferno                                          |
|tt0002199    |From the Manger to the Cross; or, Jesus of Nazareth|
|tt0002423    |Madame DuBarry                                     |
|tt0002445    |Quo Vadis?                                         |
|tt0002452    |Independenta Romaniei                              |
|tt0002461    |Richard III                                        |
|tt0002646    |Atlantis                                           |
|tt0002844    |Fantômas - À l'ombre de la guillotine              |
|tt0003014    |Il calvario di una madre                           |
|tt0003037    |Juve contre Fantômas                               |
|tt0003102    |Ma l'amor mio non muore...                         |
|tt0003131    |Maudite soit la guerre                             |
|tt0003165    |Le mort qui tue                                    |
|tt0003167    |Amore di madre                                     |
|tt0003419    |Lo studente di Praga                               |
|tt0003471    |Traffic in Souls                                   |
+-------------+---------------------------------------------------+
only showing top 20 rows

In [56]:
df_ratings_model=df_ratings.select('imdb_title_id', 'weighted_average_vote')
df_ratings_model.show( truncate= False)

+-------------+---------------------+
|imdb_title_id|weighted_average_vote|
+-------------+---------------------+
|tt0000009    |5.9                  |
|tt0000574    |6.1                  |
|tt0001892    |5.8                  |
|tt0002101    |5.2                  |
|tt0002130    |7                    |
|tt0002199    |5.7                  |
|tt0002423    |6.8                  |
|tt0002445    |6.2                  |
|tt0002452    |6.7                  |
|tt0002461    |5.5                  |
|tt0002646    |6.6                  |
|tt0002844    |7                    |
|tt0003014    |7.1                  |
|tt0003037    |7                    |
|tt0003102    |6.2                  |
|tt0003131    |6.5                  |
|tt0003165    |7                    |
|tt0003167    |5.8                  |
|tt0003419    |6.5                  |
|tt0003471    |6                    |
+-------------+---------------------+
only showing top 20 rows

In [57]:
df_movie_ratings = df_ratings_model.join(df_movie_model, 'imdb_title_id',) \
                                                .select(df_movie_model['title'],  
                                                df_ratings_model['imdb_title_id'],
                                                df_ratings_model['weighted_average_vote'])
                                                
df_movie_ratings.show()

+--------------------+-------------+---------------------+
|               title|imdb_title_id|weighted_average_vote|
+--------------------+-------------+---------------------+
|          Miss Jerry|    tt0000009|                  5.9|
|The Story of the ...|    tt0000574|                  6.1|
|      Den sorte drøm|    tt0001892|                  5.8|
|           Cleopatra|    tt0002101|                  5.2|
|           L'Inferno|    tt0002130|                    7|
|From the Manger t...|    tt0002199|                  5.7|
|      Madame DuBarry|    tt0002423|                  6.8|
|          Quo Vadis?|    tt0002445|                  6.2|
|Independenta Roma...|    tt0002452|                  6.7|
|         Richard III|    tt0002461|                  5.5|
|            Atlantis|    tt0002646|                  6.6|
|Fantômas - À l'om...|    tt0002844|                    7|
|Il calvario di un...|    tt0003014|                  7.1|
|Juve contre Fantômas|    tt0003037|                    7|
|Ma l'amor mio non...|    tt0003102|                  6.2|
|Maudite soit la g...|    tt0003131|                  6.5|
|     Le mort qui tue|    tt0003165|                    7|
|      Amore di madre|    tt0003167|                  5.8|
|Lo studente di Praga|    tt0003419|                  6.5|
|    Traffic in Souls|    tt0003471|                    6|
+--------------------+-------------+---------------------+
only showing top 20 rows

In [48]:
df_netflix_model=df_netflix.select('title', 'type', 'rating')
df_netflix_model.show( truncate= False)

+------+-------+------+
|title |type   |rating|
+------+-------+------+
|3%    |TV Show|TV-MA |
|07:19 |Movie  |TV-MA |
|23:59 |Movie  |R     |
|9     |Movie  |PG-13 |
|21    |Movie  |PG-13 |
|46    |TV Show|TV-MA |
|122   |Movie  |TV-MA |
|187   |Movie  |R     |
|706   |Movie  |TV-14 |
|1920  |Movie  |TV-MA |
|1922  |Movie  |TV-MA |
|1983  |TV Show|TV-MA |
|1994  |TV Show|TV-MA |
|2,215 |Movie  |TV-MA |
|3022  |Movie  |R     |
|Oct-01|Movie  |TV-14 |
|Feb-09|TV Show|TV-14 |
|22-Jul|Movie  |R     |
|15-Aug|Movie  |TV-14 |
|'89   |Movie  |TV-PG |
+------+-------+------+
only showing top 20 rows

In [49]:
df_netflix_ratings = df_netflix_model.join(df_movie_ratings, 'title',) \
                                                .select(df_movie_ratings['weighted_average_vote'], 
                                                df_netflix_model['title'],
                                                df_netflix_model['type'])

df_netflix_rating_clean = df_netflix_ratings.na.drop()
df_netflix_rating_clean.show()

+---------------------+--------------------+-------+
|weighted_average_vote|               title|   type|
+---------------------+--------------------+-------+
|                    6|            The Trap|  Movie|
|                    6|Sweeney Todd: The...|  Movie|
|                    7|             Pandora|  Movie|
|                    6|         The Fighter|  Movie|
|                    7|                Amar|  Movie|
|                    7|              Gumrah|  Movie|
|                    6|            Jonathan|  Movie|
|                    7|          Dad's Army|TV Show|
|                    8|            Bawarchi|  Movie|
|                    8|            Veronica|  Movie|
|                    7|              Faraar|  Movie|
|                    8|     Chashme Buddoor|  Movie|
|                    7|             Requiem|TV Show|
|                    5|                 Joy|  Movie|
|                    6|               Pukar|  Movie|
|                    5|              Sahara|  Movie|
|                    6|               Polar|  Movie|
|                    7|Trikal (Past, Pre...|  Movie|
|                    6|         School Daze|  Movie|
|                    7|               After|  Movie|
+---------------------+--------------------+-------+
only showing top 20 rows

In [50]:
df_netflix_rating_clean.sort(df_netflix_rating_clean.weighted_average_vote.desc()).show(truncate=False)

+---------------------+---------------------+-------+
|weighted_average_vote|title                |type   |
+---------------------+---------------------+-------+
|9                    |Breakout             |TV Show|
|9                    |Innocent             |TV Show|
|8                    |Bawarchi             |Movie  |
|8                    |Veronica             |Movie  |
|8                    |Brother              |Movie  |
|8                    |My Sassy Girl        |TV Show|
|8                    |Chashme Buddoor      |Movie  |
|8                    |Dallas Buyers Club   |Movie  |
|8                    |Magnolia             |Movie  |
|8                    |I Am Kalam           |Movie  |
|8                    |Company              |Movie  |
|8                    |Casino Royale        |Movie  |
|8                    |Sin City             |Movie  |
|8                    |Ip Man               |Movie  |
|8                    |Dev.D                |Movie  |
|8                    |The Help             |Movie  |
|8                    |Short Term 12        |Movie  |
|8                    |Pizza                |Movie  |
|8                    |Ugly                 |Movie  |
|8                    |The Gospel of Matthew|Movie  |
+---------------------+---------------------+-------+
only showing top 20 rows

In [51]:
df_netflix = df_netflix_rating_clean.sort(df_netflix_rating_clean.weighted_average_vote.asc()).show(truncate=False)

+---------------------+--------------------------------------+-------+
|weighted_average_vote|title                                 |type   |
+---------------------+--------------------------------------+-------+
|2                    |Amy                                   |Movie  |
|2                    |Jackpot                               |Movie  |
|2                    |Killers                               |Movie  |
|2                    |Battle                                |Movie  |
|3                    |Knock Knock                           |Movie  |
|3                    |Death House                           |Movie  |
|3                    |Detention                             |TV Show|
|3                    |The Last Resort                       |Movie  |
|3                    |Haunted                               |TV Show|
|3                    |A Scandall                            |Movie  |
|3                    |Drive                                 |Movie  |
|3                    |Norm of the North: Keys to the Kingdom|Movie  |
|3                    |The Forest                            |Movie  |
|3                    |Mara                                  |Movie  |
|3                    |Occupied                              |TV Show|
|4                    |Deuces                                |Movie  |
|4                    |Champions                             |TV Show|
|4                    |Solo                                  |Movie  |
|4                    |Paranoid                              |TV Show|
|4                    |No Tomorrow                           |TV Show|
+---------------------+--------------------------------------+-------+
only showing top 20 rows

In [67]:
df_ratings.show()

df_text = df_ratings.select('imdb_title_id', 'weighted_average_vote')
df_text.show()

+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
|imdb_title_id|weighted_average_vote|total_votes|mean_vote|median_vote|vote_10|vote_9|vote_8|vote_7|vote_6|
+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
|    tt0000009|                  5.9|        154|      5.9|          6|     12|     4|    10|    43|    28|
|    tt0000574|                  6.1|        589|      6.3|          6|     57|    18|    58|   137|   139|
|    tt0001892|                  5.8|        188|      6.0|          6|      6|     6|    17|    44|    52|
|    tt0002101|                  5.2|        446|      5.3|          5|     15|     8|    16|    62|    98|
|    tt0002130|                    7|       2237|      6.9|          7|    210|   225|   436|   641|   344|
|    tt0002199|                  5.7|        484|      5.8|          6|     33|    15|    48|    80|   123|
|    tt0002423|                  6.8|        753|      6.8|          7|     80|    65|   105|   209|   142|
|    tt0002445|                  6.2|        273|      6.2|          6|     15|     8|    30|    74|    66|
|    tt0002452|                  6.7|        198|      7.1|          7|     53|     7|    23|    35|    30|
|    tt0002461|                  5.5|        225|      5.4|          6|      9|     6|    22|    34|    53|
|    tt0002646|                  6.6|        331|      6.6|          7|     17|    23|    63|    99|    66|
|    tt0002844|                    7|       1944|      6.6|          7|    195|   145|   335|   546|   363|
|    tt0003014|                  7.1|        948|      7.2|          7|    128|   100|   161|   275|   156|
|    tt0003037|                    7|       1349|      6.5|          7|    122|   118|   234|   356|   246|
|    tt0003102|                  6.2|        100|      6.3|          6|      7|     5|    10|    23|    31|
|    tt0003131|                  6.5|        124|      6.7|          7|      9|    14|    15|    36|    24|
|    tt0003165|                    7|       1050|      6.6|          7|    105|    99|   164|   282|   184|
|    tt0003167|                  5.8|        187|      6.1|          6|     15|     6|    16|    32|    54|
|    tt0003419|                  6.5|       1768|      6.5|          7|    137|    95|   233|   487|   407|
|    tt0003471|                    6|        552|      6.0|          6|     26|    15|    71|   100|   158|
+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
only showing top 20 rows

+-------------+---------------------+
|imdb_title_id|weighted_average_vote|
+-------------+---------------------+
|    tt0000009|                  5.9|
|    tt0000574|                  6.1|
|    tt0001892|                  5.8|
|    tt0002101|                  5.2|
|    tt0002130|                    7|
|    tt0002199|                  5.7|
|    tt0002423|                  6.8|
|    tt0002445|                  6.2|
|    tt0002452|                  6.7|
|    tt0002461|                  5.5|
|    tt0002646|                  6.6|
|    tt0002844|                    7|
|    tt0003014|                  7.1|
|    tt0003037|                    7|
|    tt0003102|                  6.2|
|    tt0003131|                  6.5|
|    tt0003165|                    7|
|    tt0003167|                  5.8|
|    tt0003419|                  6.5|
|    tt0003471|                    6|
+-------------+---------------------+
only showing top 20 rows

In [72]:
df_text.dtypes

[('imdb_title_id', 'string'), ('weighted_average_vote', 'string')]

In [40]:
!pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)

In [81]:
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType
analyser = SentimentIntensityAnalyzer()
vader_udf = udf(lambda text: analyser.polarity_scores(text).get('pos'), FloatType())

In [82]:
# changed weight avg vote to String in the schema (in the chapt10 sentiment notes - string appeared to work, float type does not)
# however, the positivity is still showing as 0 not sure why - also tried changing the Float in the previous code section/import the StringType - no luck

df_sentiment = df_text.withColumn("positivity", vader_udf("weighted_average_vote"))
df_sentiment.show()

+-------------+---------------------+----------+
|imdb_title_id|weighted_average_vote|positivity|
+-------------+---------------------+----------+
|    tt0000009|                  5.9|       0.0|
|    tt0000574|                  6.1|       0.0|
|    tt0001892|                  5.8|       0.0|
|    tt0002101|                  5.2|       0.0|
|    tt0002130|                    7|       0.0|
|    tt0002199|                  5.7|       0.0|
|    tt0002423|                  6.8|       0.0|
|    tt0002445|                  6.2|       0.0|
|    tt0002452|                  6.7|       0.0|
|    tt0002461|                  5.5|       0.0|
|    tt0002646|                  6.6|       0.0|
|    tt0002844|                    7|       0.0|
|    tt0003014|                  7.1|       0.0|
|    tt0003037|                    7|       0.0|
|    tt0003102|                  6.2|       0.0|
|    tt0003131|                  6.5|       0.0|
|    tt0003165|                    7|       0.0|
|    tt0003167|                  5.8|       0.0|
|    tt0003419|                  6.5|       0.0|
|    tt0003471|                    6|       0.0|
+-------------+---------------------+----------+
only showing top 20 rows

In [73]:
df_ratings.show()

df_text_2 = df_ratings.select('imdb_title_id', 'total_votes')
df_text_2.show()

df_text_2.dtypes

+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
|imdb_title_id|weighted_average_vote|total_votes|mean_vote|median_vote|vote_10|vote_9|vote_8|vote_7|vote_6|
+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
|    tt0000009|                  5.9|        154|      5.9|          6|     12|     4|    10|    43|    28|
|    tt0000574|                  6.1|        589|      6.3|          6|     57|    18|    58|   137|   139|
|    tt0001892|                  5.8|        188|      6.0|          6|      6|     6|    17|    44|    52|
|    tt0002101|                  5.2|        446|      5.3|          5|     15|     8|    16|    62|    98|
|    tt0002130|                    7|       2237|      6.9|          7|    210|   225|   436|   641|   344|
|    tt0002199|                  5.7|        484|      5.8|          6|     33|    15|    48|    80|   123|
|    tt0002423|                  6.8|        753|      6.8|          7|     80|    65|   105|   209|   142|
|    tt0002445|                  6.2|        273|      6.2|          6|     15|     8|    30|    74|    66|
|    tt0002452|                  6.7|        198|      7.1|          7|     53|     7|    23|    35|    30|
|    tt0002461|                  5.5|        225|      5.4|          6|      9|     6|    22|    34|    53|
|    tt0002646|                  6.6|        331|      6.6|          7|     17|    23|    63|    99|    66|
|    tt0002844|                    7|       1944|      6.6|          7|    195|   145|   335|   546|   363|
|    tt0003014|                  7.1|        948|      7.2|          7|    128|   100|   161|   275|   156|
|    tt0003037|                    7|       1349|      6.5|          7|    122|   118|   234|   356|   246|
|    tt0003102|                  6.2|        100|      6.3|          6|      7|     5|    10|    23|    31|
|    tt0003131|                  6.5|        124|      6.7|          7|      9|    14|    15|    36|    24|
|    tt0003165|                    7|       1050|      6.6|          7|    105|    99|   164|   282|   184|
|    tt0003167|                  5.8|        187|      6.1|          6|     15|     6|    16|    32|    54|
|    tt0003419|                  6.5|       1768|      6.5|          7|    137|    95|   233|   487|   407|
|    tt0003471|                    6|        552|      6.0|          6|     26|    15|    71|   100|   158|
+-------------+---------------------+-----------+---------+-----------+-------+------+------+------+------+
only showing top 20 rows

+-------------+-----------+
|imdb_title_id|total_votes|
+-------------+-----------+
|    tt0000009|        154|
|    tt0000574|        589|
|    tt0001892|        188|
|    tt0002101|        446|
|    tt0002130|       2237|
|    tt0002199|        484|
|    tt0002423|        753|
|    tt0002445|        273|
|    tt0002452|        198|
|    tt0002461|        225|
|    tt0002646|        331|
|    tt0002844|       1944|
|    tt0003014|        948|
|    tt0003037|       1349|
|    tt0003102|        100|
|    tt0003131|        124|
|    tt0003165|       1050|
|    tt0003167|        187|
|    tt0003419|       1768|
|    tt0003471|        552|
+-------------+-----------+
only showing top 20 rows

[('imdb_title_id', 'string'), ('total_votes', 'int')]

In [70]:
# also tried with total votes to test it out (switched total_votes schema to string as well) - did not work 

df_sentiment = df_text_2.withColumn("positivity", vader_udf("total_votes"))
df_sentiment.show()

+-------------+-----------+----------+
|imdb_title_id|total_votes|positivity|
+-------------+-----------+----------+
|    tt0000009|        154|       0.0|
|    tt0000574|        589|       0.0|
|    tt0001892|        188|       0.0|
|    tt0002101|        446|       0.0|
|    tt0002130|       2237|       0.0|
|    tt0002199|        484|       0.0|
|    tt0002423|        753|       0.0|
|    tt0002445|        273|       0.0|
|    tt0002452|        198|       0.0|
|    tt0002461|        225|       0.0|
|    tt0002646|        331|       0.0|
|    tt0002844|       1944|       0.0|
|    tt0003014|        948|       0.0|
|    tt0003037|       1349|       0.0|
|    tt0003102|        100|       0.0|
|    tt0003131|        124|       0.0|
|    tt0003165|       1050|       0.0|
|    tt0003167|        187|       0.0|
|    tt0003419|       1768|       0.0|
|    tt0003471|        552|       0.0|
+-------------+-----------+----------+
only showing top 20 rows

In [74]:
vader_neg_udf = udf(lambda text: analyser.polarity_scores(text).get('neg'), FloatType())

In [78]:
# testing to see if maybe negativity would work - did not
# I imagine it has something to do with the data - but can't figure out what exactly 

df_sentiment = df_text.withColumn("negativity", vader_neg_udf("weighted_average_vote"))
df_sentiment.show(truncate = False)

+-------------+---------------------+----------+
|imdb_title_id|weighted_average_vote|negativity|
+-------------+---------------------+----------+
|tt0000009    |5.9                  |0.0       |
|tt0000574    |6.1                  |0.0       |
|tt0001892    |5.8                  |0.0       |
|tt0002101    |5.2                  |0.0       |
|tt0002130    |7                    |0.0       |
|tt0002199    |5.7                  |0.0       |
|tt0002423    |6.8                  |0.0       |
|tt0002445    |6.2                  |0.0       |
|tt0002452    |6.7                  |0.0       |
|tt0002461    |5.5                  |0.0       |
|tt0002646    |6.6                  |0.0       |
|tt0002844    |7                    |0.0       |
|tt0003014    |7.1                  |0.0       |
|tt0003037    |7                    |0.0       |
|tt0003102    |6.2                  |0.0       |
|tt0003131    |6.5                  |0.0       |
|tt0003165    |7                    |0.0       |
|tt0003167    |5.8                  |0.0       |
|tt0003419    |6.5                  |0.0       |
|tt0003471    |6                    |0.0       |
+-------------+---------------------+----------+
only showing top 20 rows